* { box-sizing: border-box }

html, body
  margin: 0
  padding: 0
  font-family: DejaVu Sans, Bitstream Vera Sans, Lucida Grande, Lucida Sans Unicode, Verdana, sans-serif
  overflow: hidden
  background: #000
  color: #ccc

a { color: #ddd; font-weight: bold }
a:hover { color: #fff }

ul, li
  list-style: none
  padding: 0
  margin: 0

.controls
  display: inline-block
  vertical-align: top
  text-align: left
  color: #666

  li { margin: 0 0 8px 0 }

.shortcut
  display: inline-block
  // color: #666
  // border: 2px solid #666
  border-width: 2px
  border-style: solid
  border-radius: 5px
  font-weight: bold
  padding: 2px 5px
  margin-right: 5px

.debug { display: none }

@import 'welcome.styl'

#world
  -moz-user-select: none
  -webkit-user-select: none
  user-select: none
  margin: 0
  padding: 0
  width: 100%
  height: 100%
  
  .pointer-lock-help
    opacity: 0.7
    position: absolute
    top: 0; left: 0
    bottom: 0; right: 0
    background: #000
    span
      position: absolute
      top: 47%; left: 0
      width: 100%
      text-align: center
      font-size: 70px
      color: #666
      cursor: default

@import 'help.styl'

@import 'info-panel.styl'

@import 'nav-maps.styl'