#world
  .info-panel
    position: absolute
    bottom: 10px; right: 10px
    text-align: right
    font-family: Consolas, Monaco, Lucida Console, DejaVu Sans Mono, Bitstream Vera Sans Mono, monospace
    font-size: 14px
    color: #4cf
    text-shadow: 0 0 10px #4cf
    // box-shadow: 0 0 20px #4cf
    // border: 3px solid #4cf
    font-weight: bold
    .field
      display: inline-block
      background: rgba(0, 0, 0, 0.5)
      border-radius: 5px
      padding: 10px 15px
      margin-left: 10px
      label { text-transform: uppercase }
    .field.alt
      // width: 140px
      text-align: right