#world
  .nav-maps
    position: absolute
    cursor: pointer
    // z-index: 1

    .vertical, .horizontal
      position: absolute
      top: 0; left: 0

    .vertical 
      border-left: 1px solid #fff

    .horizontal 
      border-top: 1px solid #fff

  .nav-maps.global 
    top: 0; left: 0; right: 0; bottom: 0
    background-color: #000

    img { width: 100% }

  .nav-maps.mini
    width: 200px
    height: 200px
    overflow: hidden
    top: 20px
    right: 20px
    border-radius: 100px
    border: 4px solid #fff