* { box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
  background: #000;
  color: #fff;
}

a {
  color: #fff;
}

#wrapper {
  width: 670px;
  margin: 0 auto;
  overflow: hidden;
}

#welcome {
  position: absolute;
  top: 0; left: 0;
  right: 0; bottom: 0;
  background: #000;
  z-index: 2;
  text-align: center;
}

#welcome h1 {
  font-size: 65px;
  margin: 10px 0 40px;
}

#welcome h1 .mars {
  color: #F23400;
}

#welcome p {
  margin: 0 0 15px;
}

#welcome h1, #play {
  font-family: Futura, Trebuchet MS, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

#welcome h1, #welcome p, #welcome ul, #welcome li { text-align: left; }

#welcome progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

#welcome ul, #welcome li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#description {
  float: right;
}

#controls, #description {
  width: 48%;
}

#controls li {
  margin: 8px 0;
}

#controls strong:not(.click) {
  display: inline-block;
  background: #999;
  color: #000;
  padding: 4px 4px 2px;
  border-radius: 3px;
}

#welcome a {
  color: #fff;
}

#ghbtn {
  display: block;
  margin-top: 10px;
}

#welcome progress[value]::-webkit-progress-bar {
  background-color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

#welcome progress[value]::-webkit-progress-value {
  background: #e18728;
}

#welcome progress[value]::-moz-progress-bar {
  background: #e18728;
}

#play {
  color: #fff;
  font-size: 32px;
  background: #DB4400;
  border: 0;
  padding: 0.5em 1em;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 50px;
  clear: both;
}

#play[disabled] {
  opacity: 0.4;
  color: #ccc;
  cursor: default;
}

#play:not([disabled]):hover {
  background: #F55E1A;
}

#world {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#vertical, #horizontal {
  position: absolute;
  top: 0;
  left: 0;
}
#vertical {
  border-left: 1px solid #fff;
}
#horizontal {
  border-top: 1px solid #fff;
}

#map {
  position: absolute;
  z-index: 1;
}

#map.global {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
}

#map.global img {
  width: 100%;
}

#map.mini {
  width: 200px;
  height: 200px;
  overflow: hidden;
  bottom: 20px;
  right: 20px;
  border-radius: 100px;
  border: 4px solid #fff;
  cursor: pointer;
}

#position {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  position: fixed;
  top: 5px;
  right: 5px;
  font-family: monospace;
  z-index: 1;
}

#position li {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 3px 7px;
  margin-left: -4px;
}

#position a {
  color: #fff;
  text-decoration: none;
}

#position a:hover {text-decoration: underline;}

#help-pointer.cover {
  opacity: 0.5;
  position: absolute;
  top: 0; left: 0;
  bottom: 0; right: 0;
  background: #000;
}

#help-pointer-on {
  position: absolute;
  left: 0;
  top: 0;
  padding: 5px;
  opacity: 0.7;
}
#help-pointer-off {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  text-align: center;
  font-size: 70px;
  font-weight: bold;
}

#help-pointer label {
  display: inline-block;
}