.help
  .shortcut H
  | for help

.extended-help
  ul.controls
    li
      .shortcut W 
      .shortcut A 
      .shortcut S 
      .shortcut D 
      | or arrows to move
    li
      .shortcut SPACE 
      | to jump
    li
      .shortcut M 
      | to toggle global map
    li
      .shortcut /
      | to toogle debug
    li
      .shortcut ESC
      | to release cursor
    li
      .shortcut ESC
      | again to see title screen
