doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

    title Voxel Mars
    meta(name="description" content="Global-scale reproduction of the red planet")

    link(rel="stylesheet", href="css/" + css)

    meta(name="viewport", content="width=device-width,initial-scale=1")

    meta(http-equiv="Cache-Control", content="no-cache, no-store, must-revalidate")
    meta(http-equiv="Pragma", content="no-cache")
    meta(http-equiv="Expires", content="0")

  body
    include welcome

    #world
      .pointer-lock-help
        span Click to control

      include nav-maps

      include help

      include info-panel

    script(src="js/" + js)
    include analytics
