.info-panel
  span.field.sol
    label SOL 
    strong.value
  span.field.time
    strong.value
  span.field.alt
    label ALT: 
    strong.value
  span.field.lat
    label LAT: 
    strong.value
  span.field.lng
    label LNG: 
    strong.value
