#share
  div.addthis_toolbox.addthis_default_style.addthis_16x16_style
    a.addthis_button_facebook
    a.addthis_button_twitter
    a.addthis_button_google_plusone_share
    a.addthis_button_pinterest_share
    a.addthis_button_reddit
    a.addthis_button_hackernews
    a.addthis_button_email
    a.addthis_button_compact
  script var addthis_config = {"data_track_addressbar":true};
  script(src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-527d28760ad9ee8f")